mixin nav(modif)
    nav(class="nav "+ `nav--${modif} `)
        button.nav__btn
            span.nav__btn-hamburger
        .nav__block
            ul.nav__list
            -
                var items=[
                    {title:"Главная", href:"#home", id: "#main"}, 
                    {title:"Обо мне", href:"#about"},
                    {title: "Навыки", href:"#skills"}, 
                    {title:"Работы", href:"#works"}, 
                    {title:"Отзывы", href:"#reviews"}, 
                    {title:"Связаться", href:"#feedback"}]
            each item, index in items
                li(class="nav__item "+((`${item.id}`===`${item.href}`)? "nav__item--active" : ""))
                    a(href=`${item.href}`).nav__link #{item.title}
            if(`${modif}`=='header') 
                +social('nav')
                span.close