mixin nav(modif)
    nav(class="nav "+ `nav--${modif} `)
        button.nav__btn
            span.nav__btn-hamburger
        .nav__block
            ul(class="nav__list "+`nav__list--${modif}--wrap`)
                -
                    var items=[
                    {title:"Главная", href:"#home"}, 
                    {title:"Обо мне", href:"#about"},
                    {title: "Навыки", href:"#skills"}, 
                    {title:"Работы", href:"#works"}, 
                    {title:"Отзывы", href:"#reviews"}, 
                    {title:"Связаться", href:"#feedback"}]
                each item, index in items
                    li.nav__item
                        a(href=`${item.href}`).nav__link #{item.title}
            if(`${modif}`=='header') 
                +social('nav')
                span.close