include ./mixins.pug
include ./mixins/nav.pug
include ./mixins/social.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section.parallax
          -
            var parts=[
              {speed:"0.1", name:"sky"},{speed:"0.15",name:"mountain"}, 
              {speed: "0.17", name:"baloon"},{speed:"0.20", name: "middle-cloud"}, 
              {speed:"0.23", name: "man"}, {speed:"0.26", name:"slope" }, {speed:"0.31", name: "lower-cloud"}]
          each part in parts
            .parallax__layer(data-speed=`${part.speed}`)
                +image(`parallax/${part.name}.png`, "", "parallax__image")
          section.hero(id="home")
            .container.hero-container
              header.header
                .header__logo
                  p БЮ
                .header__btns
                  +nav('header')            
              .hero__content
                .user-data
                  .user-data__desc Личный сайт веб разработчика
                  .user-data__name
                    h1 Юлия Бубнова
              .hero__bottom-btn.scroll
                a(href="#").scroll__down-btn Скролл

          section.about-section(id="about")
            .container
              .about
                .about__left-col
                  .user-info
                    .user-info__avatar
                      .avatar
                        +image("content/user.jpg","Фото", "avatar__img")
                    .user-info__content
                      -
                        var userdata=[
                          ["Проживаю:", "Бишкек"],
                          ["Возраст:", "30 лет"],
                          ["Родилась:", "15 марта 1990"]
                        ];
                      table.user-info__data
                        tbody.user-info__data-body
                          each row in userdata
                            tr
                              td.user-info__data-key #{row[0]}
                              td.user-info__data-val #{row[1]}
                .about__right-col
                  .about__disclamer
                    p Привет, меня зовут
                  h2.about__title Юлия Бубнова
                  .about__desc
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia aliquam facere sit blanditiis. Ex eum tempore voluptate, rerum quia vitae quibusdam sint animi doloribus facere nam et voluptatum illo autem.
                  .about__ps
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae at eveniet sit, asperiores repellendus fuga temporibus cumque tempora sunt. Molestias ullam exercitationem magni veritatis ipsum, rerum facere in officia sint?
          .triangles.values__triangles
              svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
                polygon(points="0,0 0,100 1000,100")
              svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
                polygon(points="1000,0 1000,100 0,100") 
        section.values(id="skills")
          .container.values-container
            .values__title
              .values__title-content
                h2.values__title-text Чем я могу быть полезна вам
                .values__title-desc
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint provident dolore possimus quas alias nesciunt dignissimos quos tempora ipsa accusantium quam repellendus velit dolores, quidem, nemo facere! Modi, corrupti minus.
            .values__img
              +image("content/bag.png", "Фото рюкзак", "values__img-icon")
            .values__content
              #skills-component

        section.projects-section(id="works")
          .container.projects-container
            .section__title
              h2 Мои работы
            .projects-section__content
             #slider-component
              

          
        .last-section.parallax-budda
          .triangles.triangles--lower
              svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangles__item-rotate.triangle
                polygon(points="0,0 0,100 1000,100")
              svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangles__item-rotate.triangle
                polygon(points="1000,0 1000,100 0,100")
          -
            var parts=[
              {speed:"0.1", name:"1-sky"} ,{speed:"0.13",name:"2-mountain"}, 
              {speed: "0.17", name:"3-budda"},{speed:"0.20", name: "5-cloud"}, 
              {speed:"0.23", name: "6-cloud"}, {speed:"0.26", name:"4-cloud" }]
          each part in parts
            .parallax__layer-budda(data-speed=`${part.speed}`)
              +image(`parallax/${part.name}.png`, "", "parallax__image-budda")
          section.reviews-section(id="reviews")
            .container
              #reviwews-component
          section.section-form(id="feedback")
            .container
              .feedback-section
                .section__title.section__title--align--center
                  h2 Связаться со мной
                form.feedback-section__form.feedback
                  .feedback__row
                    label.feedback__block
                      span.feedback__title Введите ваше имя
                      input.feedback__input.feedback__input--bg--name(type="text" placeholder="Бубнова Юлия" name="name" autofocus)
                    label.feedback__block
                      span.feedback__title Введите ваше e-mail
                      input.feedback__input.feedback__input--bg--mail(type="text" placeholder="Bubnovayn@gmail.com" name="name" )                 
                  .feedback__row
                    label.feedback__block.feedback__block--width
                      span.feedback__title Сообщение к письму
                      textarea(name="comment",wrap="soft"  placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса").feedback__input.feedback__input--textarea.feedback__input--bg--comm
                  .feedback__row
                    button.feedback__btn.feedback__btn--mrg--bottom(type="submit") Отправить
        
        footer.footer
          .container.footer-container
            .footer__left-col
              p.footer__year © 2020
              h3.footer__user-name Юлия Бубнова
              p.footer__user-desc Личный сайт веб разработчика
            .footer__right-col
              +nav('footer')
              
              p.footer__comment Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool
              .footer__socials
                +social('footer')
              blockquote.footer__qoute Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
              cite.footer__qoute-author Martin Golding
      include ./templates/entry.pug
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")