include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        .welcome-section
          section.hero
            .container
              header.header
                .header__logo
                  p БЮ
                .header__btns
                  nav.menu
                    - var items=["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться",]
                    ul.menu__list
                      each item in items
                        li.menu__item
                          a.menu__link #{item}
                .header__social
                  - var icons=["vk", "insta", "github",]
                    ul.socials
                      each item in icons
                        li.socials__item
                          a(href="").social__link
                            +icon(item, "socials__icon")
              .hero-content
                .user-data
                  .user-data__desc Личный сайт веб разработчика
                  .user-data__name
                    h1 Юлия Бубнова
              .hero__bottom-btn
                a(href="").scroll__down-btn Скролл

          section.about-section
            .container
              .about
                .left-col
                  .user-info
                    .user-info__avatar
                      .avatar
                        +image("content/user.jpg","Фото", "avatar__img")
                    .user-content
                  .user-info__content
                  -
                    var userdata=[
                      ["Проживаю:", "Бишкек"],
                      ["Возраст:", "30 лет"],
                      ["Родилась:", "15 марта 1990"]
                    ];
                  table.user-info__data
                    tbody.user-info__data-body
                      each row in userdata
                        tr
                          td.user-info__data-key #{row[0]}
                          td.user-info__data-val #{row[1]}
                .right-col
                  about__disclamer Привет, меня зовут
                  h2.about__title Юлия Бубнова
                  .about__desc
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia aliquam facere sit blanditiis. Ex eum tempore voluptate, rerum quia vitae quibusdam sint animi doloribus facere nam et voluptatum illo autem.
                  .about__ps
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae at eveniet sit, asperiores repellendus fuga temporibus cumque tempora sunt. Molestias ullam exercitationem magni veritatis ipsum, rerum facere in officia sint?
                  
        section.values
          section.triangles.values__triangles
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
              polygon(points="0,0 0,100 1000,100")
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
              polygon(points="1000,0 1000,100 0,100")
          .container
            .values__title
              .values__title-content
                h2.values__title-text Чем я могу быть полезна вам
                .values__title-desc
                  p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint provident dolore possimus quas alias nesciunt dignissimos quos tempora ipsa accusantium quam repellendus velit dolores, quidem, nemo facere! Modi, corrupti minus.
            .values__content
              -
                var items=[
                  ["Front-end", ["HTML5", "CSS3", "javascript", "jquery и Vue.js"]],
                  ["Workflow", ["GIT", "Terminal", "Gulp", "Webpack"]]
                ];
              ul.skills-list
                each row in items
                  li.skills-list__item.skills-row
                    .skills-row__title #{row[0]}
                    ul.skills-row__list
                      each cell in row[1]
                        li.skills-row__item
                          .skill
                            .skill__title=cell
                            svg.skill__circle.circle(xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none")
                              circle(cx="50" cy="50" r="45").circle__icon.circle__icon--above
                              circle(cx="50" cy="50" r="45").circle__icon.circle__icon--under
        section.projects-section
          .container.projects-container
            .projects-section__title.section__title
              h2 Мои работы
            .projects-section__content
              .projects-section__left
                .projects-slider
                  .projects-slider.slider
                      +image("content/prj1.png", "Фото проекта", "slider__img")
                  .projects-slider__points.points
                    ul.points__list
                      -var images=["content/mprj1.png","content/mprj1.png", "content/mprj1.png"]
                        each icon in images
                          li.points__item
                            a.points__link(href="#")
                              +image(`${icon}`, "Иконка проекта", "slider__icon")
                  .projects-slider__arrows.arrows
                    .arrows-left
                      a.arrows__link(icon="#")
                        +icon("arrow-down", "arrows__link-icon arrows__link-up")
                    .arrows-right
                      a.arrows__link(icon="#")
                        +icon("arrow-down", "arrows__link-icon arrows__link-down")

              .projects-section__right
                .projects-number
                  p 2
                .projects-brief
                  ul.projects-brief__tags.tags__list 
                    -var techno=["HTML", "CSS", "JavaScript"]
                      each item in techno
                        li.tags__item=item
                  .projects-brief__content
                    h3 Сайт школы образования
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad praesentium dicta id quod fugiat aliquam consequuntur, vel incidunt pariatur et? Similique, eveniet quod distinctio amet mollitia labore totam odio. Expedita!
                  a.projects-brief__link Посмотреть сайт
          section.reviews__triangles.triangles
              svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangles__item-rotate.triangle
                polygon(points="0,0 0,100 1000,100")
              svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangles__item-rotate.triangle
                polygon(points="1000,0 1000,100 0,100")
        .last-section
          section.reviews-section
            .container
              .reviews-head
                .section__title.reviews-title
                  h2 Что обо мне говорят
                .reviews-arrow
                  .reviews-arrow__list
                    li.reviews-arrow__item
                      button(type="button").reviews-arrow__btn.reviews-arrow__btn--left
                    li.reviews-arrow__item
                      button(type="button").reviews-arrow__btn.reviews-arrow__btn--right
              .reviews-slider
                ul.reviews-slider__list
                  -
                    var reviews=[{
                      name: "Владимир Сабанцев", 
                      position: "Преподаватель",
                      text:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo minima nesciunt autem repudiandae. Dolores, velit nulla. Cupiditate aliquid quos, quam deserunt quidem at sint recusandae sed eaque, iure quis expedita.",
                      avatar: "content/user.jpg"},{
                      name: "Владимир Сабанцев", 
                      position: "Преподаватель",
                      text:"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo minima nesciunt autem repudiandae. Dolores, velit nulla. Cupiditate aliquid quos, quam deserunt quidem at sint recusandae sed eaque, iure quis expedita.",
                      avatar: "content/user.jpg"}]
                  each item in reviews
                    li.reviews-slider__item
                      .reviews-slider__quote
                        +icon("quote", "quote")
                      .reviews-slider__content.reviews
                        p.reviews__text #{item.text}
                        .reviews__author
                          .reviews-col.avatar
                            +image(`${item.avatar}`, "Фото автора отзыва", "reviews__author-icon")
                          .reviews-col
                            h3.reviews__author-name  #{item.name}
                            p.reviews__author-position  #{item.position}
          section.section-form
            .container
              .feedback-section
                .section__title
                  h2 Связаться со мной
                form.feedback
                  .feedback-row
                    label.feedback__block
                      span.feedback__title Введите ваше имя
                      input.feedback__input.feedback__input--bg--name(type="text" placeholder="Бубнова Юлия" name="name")
                    label.feedback__block
                      span.feedback__title Введите ваше e-mail
                      input.feedback__input.feedback__input--bg--mail(type="text" placeholder="Bubnovayn@gmail.com" name="name")                 
                  .feedback-row
                    label.feedback__block.feedback__block--width
                      span.feedback__title Сообщение к письму
                      textarea(name="comment", cols="30", rows="1" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса").feedback__input.feedback__input--textarea.feedback__input--bg--comm
                  button.feedback__btn.feedback__btn--mrg--bottom(type="submit") Отправить
        section.footer-section
          .container
            footer.footer
              .footer-left-col
                p.footer__year © 2020
                h2.footer__user-name Юлия Бубнова
                p.footer__user-desc Личный сайт веб разработчика
              .footer-right-col
                .footer__btns
                  nav.menu
                    - var items=["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться",]
                      ul.menu__list
                        each item in items
                          li.menu__item
                            a.menu__link.menu__link--white #{item}
                .footer__content
                  .footer__content-left
                    p.footer__comment Этот сайт я сделала в рамкая обучения в Школе онлайн образования LoftSchool
                    .footer__socials
                      - var icons=["vk", "insta", "github",]
                        ul.socials
                          each item in icons
                            li.socials__item.socials__item--circle
                              a(href="").social__link.social__link--icon--small--size
                                +icon(item, "socials__icon")
                  .footer__content-right
                    blockquote.footer__qoute Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                    cite.footer__qoute-author Martin Golding

